.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper_button {
  display: flex;
  gap: 15px;
}

.button {
  padding: 0.3em 1.5em;
  font-size: 0.9em;
  background-color: #513f4d;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  color: aliceblue;
}

.button:hover {
  transform: scale(1.1);
  background-color: #e2a6c7;
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .header {
    flex-direction: column;
    gap: 5px;
  }
}
